.rapih {
  padding-left: 300px;
  padding-right: 300px;
}

.card_fix {
  padding-left: 500px;
  padding-right: 600px;
}

.button_contact {
  background-color: black;
  color: aliceblue;
  font-size: 24px;
  border-radius: 12px;
}

.button_contact:hover {
  background-color: #02ffaf; /* Green */
  color: white;
}

.margin_top_20 {
  margin-top: 20px;
}

.card {
  border-radius: 5px; /* Sudut bulat */
  overflow: hidden; /* Agar gambar tidak melewati kartu */
  margin: 2px; /* Jarak antara kartu */
  background-color: #fff; /* Warna latar belakang kartu */
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card img {
  width: 20px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.text-center {
  text-align: center;
}

.text40px {
  font-size: 20px;
}
